/Library
/Assembly-CSharp.csproj
/coronajam_project.sln
/obj
/.vs
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/coronajam_project-master.sln
/fmod_editor.log
/coronajam_project.csproj
/coronajam_project.Editor.Plugins.csproj
/coronajam_project.Plugins.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.RenderPipelines.Universal.Editor.csproj
/Unity.RenderPipelines.Universal.Runtime.csproj
/Unity.RenderPipelines.Universal.Shaders.csproj
/Unity.Rider.Editor.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Utilities.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEngine.TestRunner.csproj
/YamlDotNet.csproj
/YamlDotNet.Examples.csproj
