/Library
/Assembly-CSharp.csproj
/coronajam_project.sln
/obj
/.vs
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/coronajam_project-master.sln
/fmod_editor.log
